<launch>
    <!--node pkg="tf" type="static_transform_publisher" name="map_link_broadcaster" args="4.0 7.6 0 0 0 0 1 map odom_combined 5" /--> <!-- small space -->
    <node pkg="tf" type="static_transform_publisher" name="map_link_broadcaster" args="6.5 6.4 0 -1.5707 0 0 map odom_combined 20" /> <!-- big space-->
    <!--node pkg="tf" type="static_transform_publisher" name="odom_link_broadcaster" args="0 0 0 0 0 0 1 odom_combined base_footprint 20" /-->    
</launch>
